* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}

i {
  pointer-events: none;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#e4c200), to(#6600da));
  background: linear-gradient(to right, #e4c200, #6600da);
}

header {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 3rem;
  color: white;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Firefox */
}

form input,
form button {
  border: none;
  padding: 0.5rem 0.75rem;
  margin: 0.15rem;
  font-size: 1.25rem;
  border-radius: 10px;
}

form input[type="number"] {
  width: 5%;
  text-align: center;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input[type="number"] {
  -moz-appearance: textfield;
}

form button {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#ffa600), to(#f13636));
  background: linear-gradient(90deg, #ffa600, #f13636);
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form button:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

div.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

div.sort button {
  cursor: pointer;
  border: none;
  padding: 0.5rem 0.75rem;
  background: -webkit-gradient(linear, left top, right top, from(#ffa600), to(#f13636));
  background: linear-gradient(90deg, #ffa600, #f13636);
  color: white;
  font-size: 1.25rem;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div.sort button:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section div.todo {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem 0rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section div.todo p {
  background-color: white;
  color: black;
  padding: 0.75rem 1.25rem;
  font-size: 1.5rem;
}

section div.todo p.todo-text {
  width: 50%;
}

section div.todo p.todo-time {
  width: 30%;
  text-align: center;
}

section div.todo button {
  padding: 0.75rem 1.25rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  color: white;
}

section div.todo button.complete {
  background-color: #16dd91;
}

section div.todo button.trash {
  background-color: #eb5858;
}

.done {
  opacity: 0.2;
  text-decoration: line-through;
  text-decoration-thickness: 0.1rem;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */